.box1{
    height: 201px;
    width:1180px;
    margin: auto;
    margin-top: 90px;

}

.item1{
    width: 216px;
    height: 197px;
}
.remove{
    color:#3722D3;
    margin-top: 105px;
    font-family: Inika;
    font-size: 18px;
}
.quantity{
    color: #4E4D4D;
    font-family: Inika;
    font-size: 18px;
}
.itemName{
    color: #4E4D4D;
    font-family: Inika;
    font-size: 28px;
}
.rs{
    color: #000;
    font-family: Inika;
    height: 50px;
}
.rating{
    float: right;
}

button {
    background-color: #3F0DA9;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    color: #FBE9A9;
    font-family: Inika;
    font-size: 31.108px;
    line-height: 100%;
}
  
button:hover {
    background-color: #45a049;
}

.button{
    display: flex;
    padding: 28px 30px 20px 1020px;
    align-items: center;
    gap: 30px;
}

.totel{
    width: 160px;
    height: 26px;
}

.line1{
    width: 1180px;
    height: 1px;
    opacity: 0.8;
    background: #4E4D4D;
    margin-top: 60px;
}