.box1{
    height: 201px;
    width:1180px;
    margin: auto;
    margin-top: 90px;

}

.item1{
    width: 216px;
    height: 197px;
}
.remove{
    color:#3722D3;
    margin-top: 105px;
    font-family: Inika;
    font-size: 18px;
}
.quantity{
    color: #4E4D4D;
    font-family: Inika;
    font-size: 18px;
}
.itemName{
    color: #4E4D4D;
    font-family: Inika;
    font-size: 28px;
}
.rs{
    color: #000;
    font-family: Inika;
}
.rating{
    float: right;
}

button {
    background-color: #3F0DA9;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    color: #FBE9A9;
    font-family: Inika;
    font-size: 31.108px;
    line-height: 100%; 
}
  
button:hover {
    background-color: #45a049;
}